* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

form {
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    display: none;
    width: 35vw;
    background: linear-gradient(#686de0, #a55eea);
    padding-inline: 12px;
    border-radius: 5px;

}

h2 {
    border: 1px solid red;
    text-align: center;
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

input {
    outline: none;
    border: none;
    border-bottom: 1px solid white;
    width: 100%;
    padding-left: 28px;
    font-size: 1rem;
    background-color: transparent;
    color: white;
}

input::placeholder {
    color: white;
}

div {
    margin-block: 30px;
    position: relative;
}

div i {
    position: absolute;
    top: -8%;
    font-size: 1.25rem;
    color: white;
}

button {
    width: 100%;
    padding: 5px;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
    outline: none;
    border: none;
}

button:hover {
    background: linear-gradient(#686de0, #a55eea);
    border: 1px solid white;
    color: white;
}

.add button{
    width:10%;
    margin-left: 9%;
    background:linear-gradient(#686de0, #a55eea);
}

.table{
    width: 100%;
    text-align: center; 
    font-size: 1.4rem;
}

.edit,.Delete{
    width:30%;
    background:linear-gradient(#686de0, #a55eea);
}






/* Media-queary */
 /* @media screen and (max-width:1300px){
    .container{
        width:60vw
    }
}
@media screen and (max-width:770px){
    .container{
        width:80vw
    } 
} */